<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div class = "container">
    	<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="/admin/homePage">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
  </ul>
    	<div class = "card login-form">
	   		<form class="card-body text-center mx-auto" action="/admin/createItem" method="POST" th:object="${item}">
	   			<div class ="form-group">
	   			<h1 style="color:red;" th:text="${itemAddInfo}"></h1>
	   			<h1 class = "card-title text-center">Add Item</h1>
	   			
	   				<div class ="form-group">
	   				<!-- <label style="color:red;" for="name" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label></br> -->
		        		<input  type="text" name="name" placeholder = "Name" />
		        	</div>
		        	
		        	<div class ="form-group">
		        		<!-- <label style="color:red;" for="price" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></label></br> -->
		        		<input  type="number" name="price" placeholder = "Price" />
		        	</div>
		        	
		        	<div class ="form-group">
		        		<!-- <label style="color:red;" for="quantity" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></label></br> -->
		        		<input  type="number" name="quantity" placeholder = "Quantity"  />
		        	</div>
		     		
					<div class ="form-group float-right">
		        		<button type="submit">Submit</button>
		        	</div>
		        	
		        </div>
	        		
	        </form>
        </div>
        	
   	</div>     
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>