<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<div class="container">

<div class="card text-center mx-auto border-0">
<h1 class="card-title">Inventory</h1>
</div>
	
		<div class = "card login-form border-0">
			<form class="card-body text-center mx-auto"  action="/admin/login" method="POST" th:object="${account}">
				<div class ="form-group">
						<h2 style="color:red;" th:text="${msgAdmin}"></h2>
						<h3 class="card-title">Admin login</h3>
						
						<div class ="form-group">
							<input type="text" name="email" placeholder = "Email"/>
						</div>
						<div class ="form-group">
							<input  type="password" name="password" placeholder = "Password" />
						</div>
						<div class ="form-group float-right">
							<button type="submit">Submit</button>
						</div>
				</div>
			</form>
		</div>
		<li class="nav-item">
			<a class="nav-link" href="/createAccount">create</a>
		</li>
		<div class = "card login-form border-0">
			<form class="card-body text-center mx-auto" action="/user/login" method="POST" th:object="${account}">
				<div class ="form-group">
						<h2 style="color:red;" th:text="${msg}"></h2>
						<h3 class="card-title">User login</h3>
						
						<div class ="form-group">
							<input type="text" name="email" placeholder = "Email"/>
						</div>
						<div class ="form-group">
							<input  type="password" name="password" placeholder = "Password" />
						</div>
						<div class ="form-group float-right">
							<button type="submit">Submit</button>
						</div>
				</div>
			</form>
		</div>
	
	</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>