<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class= "container">
    	<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="/admin/homePage">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
  </ul>
  <div class = "card login-form">
    <h1 class = "card-title text-center">Search</h1>
    <form class="card-body text-center mx-auto" action="/searchItem" method="GET" th:object="${item}">
    	<div class ="form-group">
       	 <input type="text" name="name" placeholder = "Name"/>	
       	 </div>
       	 <div class ="form-group float-right">
        	<button type="submit">Submit</button>
        </div>
        </form>
        
        </div>
        
        <p th:text="${item}"></p>
        </div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>